
<div class="container">

    <div class="login">
        <h1>Iniciar sesion</h1>

        <div class="correo">
            <p-floatLabel>
                <input pInputText id="correo" [(ngModel)]="correo"/>
                <label for="correo">Correo</label>
            </p-floatLabel>
        </div>
    

        <div class="contrasenia">
            <p-floatLabel>
                <input pInputText id="contrasenia" [(ngModel)]="contrasenia"/>
                <label for="contrasenia">Contraseña</label>
            </p-floatLabel>
        </div>
       

        <div class="enviar">
            <p-button label="Iniciar sesion" [raised]="true" (onClick)="login(correo, contrasenia)"/>
        </div>
        
    </div>
</div>